.footer-component {
    background-color: #363333e7;
}

.footer-component:hover {
    background-color: #8c8c8c9c; 
    text-shadow: 2px 2px 10px #4c0303;
}

.footer-component .footer-text:hover {
    background-color: transparent;
}