.homediv {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.hometext {
  text-decoration: none;
  color: #fdfdfd;
  transition: 0.4s;
  padding: 3px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homecard{
    background-color: black;
}

@media (hover: hover) {
  .hometext:hover {
    background-color: transparent;
  }
}

.el-carousel__item {
  text-align: center;
}

.el-card{
  margin-top: 5px;
}
